@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto:wght@100&family=Work+Sans&display=swap");

:root {
  --LightBlue: #84ceeb;
  --Purple: #8860d0;
  --LightPurple: #c1c8e4;
  --MidBlue: #5ab9ea;
  --HeavyBlue: #5680e9;
}

html {
  height: 100%;
  width: 100%;
  background: #c1c8e4;
}
body {
  font-family: "Work Sans", sans-serif;
}
body,
html {
  margin: 0px;
  padding: 0px;
}

.icons {
  width: 52px;
  height: 52px;
  object-fit: scale-down;
  padding: 0.5em;
}
.icons:hover,
.iconAlpaca:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
}
.iconAlpaca {
  width: 46px;
  height: 46px;
  padding: 0.5em;
}

.iconsRight {
  display: flex;
  gap: 1.4em;
  align-items: center;
  justify-content: space-around;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 2rem;
  width: auto;
  background-color: var(--HeavyBlue);
  font-family: "Lora", serif;
}
.navBar h1 {
  font-size: 2em;
}
