<<<<<<< HEAD
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto:wght@100&family=Work+Sans&display=swap");

html {
  height: 100%;
  width: 100%;
  background: #cbc3e3;
}
body {
  font-family: "Work Sans", sans-serif;
}
body,
html {
  margin: 0px;
  padding: 0px;
}

.icons {
  width: 52px;
  height: 52px;
  object-fit: scale-down;
  padding: 0.5em;
}
.iconAlpaca {
  width: 46px;
  height: 46px;
  padding: 0.5em;
}

.iconsRight {
  display: flex;
  gap: 1.4em;
  align-items: center;
  justify-content: space-around;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 2rem;
  width: auto;
  background-color: #6495ed;
  font-family: "Lora", serif;
}
.navBar h1 {
  font-size: 2em;
>>>>>>> 64f1b3764f052171076e4a2f398a915bbc75a28a
}
