


.card-container {
    background: lightblue;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: .5em;
    box-shadow: .25em .25em .25em .25em rgba(0, 0, 0, .125);
}

.order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}

.order-sub-container {
    display: flex;
    flex-direction: column;
    gap: .125em;
}

.order-sub-container > input {
    width: 4em;
    border-radius: .5em;
    border-width: .125em;
}

.order-sub-container > button{
    padding: .75em 1em;
    width: 8em;
    border-radius: .5em;
    border: none;
}