<<<<<<< HEAD
.cards-container {
    background: coral;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 8em;
    row-gap: 6em;
    width: 50vw;
}
=======
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  column-gap: 8em;
  row-gap: 6em;
  width: 69%;
  min-width: 50em;
  margin: 0 auto;
}
>>>>>>> 64f1b3764f052171076e4a2f398a915bbc75a28a
