.search-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

} 
.button3{
    border-radius: 10px;
    padding: 3px;
}
.searchbar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.submit{
    padding: 50px;
}
input{
    
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C1C8E4;
    border-radius: 8px;
    border-width: 3px;
    width: 350px;
}

